.stats-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    background: var(--bg-secondary);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-md);
    width: 90%;
    align-items: center;
}

.stat-item {
    text-align: center;
    color: var(--text-primary);
}

.stat-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

.circle-chart {
    position: relative;
    width: 120px;
    height: 120px;
}

.circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
}

@keyframes progress {
    from {
        stroke-dasharray: 0 100;
    }
    to {
        stroke-dasharray: var(--progress-value) 100;
    }
}

.circle-chart p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-primary);
}